/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #3533cd; /* Use your preferred color */
    color: white;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

.withdraw-container {
    width: 80%;
    background: linear-gradient(90deg, #000000, #3533cd);
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.withdraw-header {
    text-align: center;
}

.mine-icon {
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    margin: 20px 0; /* Add spacing above and below the image */
}

.coming-soon {
    font-size: 24px;
    margin-top: 20px; /* Adjust margin for spacing */
}

/* Menu styles */
.menu-container {
    /* Add styles for the menu container here */
}

.menu-icon {
    width: 40px; /* Adjust icon size */
    height: 40px;
}
